.Projectlist{
    font-size: 14px;
    margin-right: 80px;
    cursor: pointer;
    background-color: #cacad4;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 600;
  
    

}

.Projectlist.active{
   background-color: #0ecea4;
   padding: 5px 5px;
}