.projects {
    background-color: #f9f9fa;
    padding: 100px 60px;
   
}

.projects  .project-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.projects  .project-top h5{
    color: #0ecea4;
   
}

.projects ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
   
}

.projects .project-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.projects .project-images .pictures img {
    width: 270px;
    height: 350px;
   
}

.projects .project-images .pictures{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
   
}


@media only screen and (max-width: 600px){
    .projects .project-images .pictures img {
        width: 120px;
        height: 140px;
       
    }


    .projects  .project-top h1{
        font-size: 15px;
       
    }

    .projects ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
       
    }
    
}

